@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
    --primary-color: #acacd8; /* para criar a variável temos que colocar os -- antes*/
    --second-color:  #8181d3;
}

* {
    box-sizing: border-box; /* ajuda a não ter que ficar fazendo conta com margens e padding's*/
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: "Roboto Mono", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    max-width: 640px; /* tamanho do container*/
    margin: 10px auto; /* vamos alinhar horizontalmente*/
    background: white;
    padding: 20px;
    box-shadow: 8px 8px #000000;
    font-size: 1.3em;
    line-height: 1.5em;
}

form label, form input{
    display: block;
    width: 100%;
}

form label {
    font-size: 14px;
    font-weight: bold;
    color: var(--primary-color);
}

form input {
    font-size: 14px;
    height: 30px;
    padding: 15px 5px;
}

form input.invalido {
    animation-name: error;
    animation-duration: .5s;
}

@keyframes error {
    0% {
        transform: translate(0px);
    }
    25% {
        transform: translate(10px);
    }
    50% {
        transform: translate(0px);
    }
    75% {
        transform: translate(10px);
    }
    100% {
        transform: translate(0px);
    }
}

form input:focus {
    outline: 1px solid var(--second-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
    border: 2px solid var(--second-color);
}

form button:hover {
    background: var(--second-color);
}

.feedback-1, .feedback-2 {
    font-size: .85rem;
    font-weight: bold;
    display: none;
}

.feedback-2.valido {
    color: #13AB0A;
    display: block;
}

.feedback-1.invalido {
    color: #D90A02;
    display: block;
}
